*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.card {
  background-color: #FFFFFF;
  max-width: 368px;
  border-radius: 13px;
  box-shadow: 3px 3px 2px 3px  #E5EAF0;
}

img {
  width: 336px;
  height: 152px;
  border-radius: 11px;
  margin-inline: 16px;
  margin-block-start: 16px;
}

main > span:first-of-type {
  padding: 6px 16px;
  background-color: #F2EAFD;
  align-self: flex-start;
  border-radius: 18px;
  color: #7C19EE;
  margin-inline: 16px;
  margin-block: 16px;
  display: inline-block;
}

main > div {
  margin-inline: 16px;
}

h1 {
  margin-bottom: 6px;
  color: #20293A;
}

p {
  color: #394150;
  font-weight: 300;
  opacity: 0.8;
}

hr {
  margin-block: 20px;
  border-width: 1px 0 0 0;
  border-color: #E5EAF0;
  height: 0;
}

main > span:last-of-type {
  display: inline-block;
  margin-block-end: 20px;
  margin-inline: 16px;
}


.title {
  font-family: "Sora", sans-serif;
  font-size: 18px;
}

.body {
  font-family: "Sora", sans-serif;
  font-size: 14px;
}

.small-text {
  font-family: "Sora", sans-serif;
  font-size: 12px;
  color: #394150;
  opacity: 0.8;
}

.tag {
  font-family: "Sora", sans-serif;
  font-size: 10px;
}